{% extends "base.html" %}
{% load staticfiles %}
{% block metadescription %}
  Check the variety of products, look for the one that suits you best
{% endblock %}
{% block title %}
  Search - The Hemp Reserve
{% endblock %}
{% block content %}

  <div>
    <p class="text-center my_search_text">Results: <b>{{ query }}</b></p>
  </div>
  <div class="container">
    <div class="row">
      {% for product in products %}
        <div class="my_bottom_margin col-12 col-sm-12 col-md-6 col-lg-4">
          <div>
            <div class="card" style="width: 18rem;">
              <a href="{{product.get_url}}">
                <img class="my_image" src="{{ product.photo_main.url }}" alt="{{product.name}}">
              </a>
        
              </a>
              <div class="card-body">
                <h4>{{product.name}}</h4>
                <p class="card-text">
                  ${{product.price}}
                </p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  
{% endblock %}