{% extends "base.html" %}

{% load staticfiles %}

{% block metadescription %}
  {% if category %}
    {{ category.description | truncatewords:155 }}
  {% else %}
    Welcome to the cbd store, we hope that you find the product that fits you the best
  {% endif %}
{% endblock %}

{% block title %}
  {% if category %}
    {{ category.name }} - CBD Royalty
  {% else %}
    CBD Royalty
  {% endif %}
{% endblock %}

{% block content %}
  {% if category %}
    <div class=" row my_row_class">
      <div class="mx-auto">
        <p class="breadcrum">
          <a href="{% url 'shop:allProductCategory' %}">Home</a> |
          <a href="{% url 'shop:allProductCategory' %}">Our Product Collection</a> | {{ category.name }} 
        </p>
      </div>
    </div>
  {% endif %}
  {% if category %}
  <div class="container-fluid mx-auto cat-banner">
    <div class="row">
      <img class="my_image" src="{{ category.image.url }}" alt={{category.name}}>
    </div>
  </div>
  <br>
  <div class="container">
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{ category.description }}</p>
  </div>
  {% else %}
  <div class="container">
    <h1 class="my_title text-center">Our Product Collection</h1>
    <p class="text-justify">This is our variety of our products</p>
  </div>
  {% endif %}
  <div class="container">
    <div class="row mx-auto">
      {% for product in products %}
        <div class="my_bottom_margin col-12 col-sm-12 col-md-6 col-lg-4">
          <div>
            <div class="card" style="width: 18rem;">
              <a href="{{product.get_url}}">
                <img src="{{ product.photo_main.url }}" alt="{{product.name}}">
              </a>
                
              </a>
              <div class="card-body">
                <h4>{{product.name}}</h4>
                <p class="card-text">
                  ${{product.price}}
                </p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %} 