/* Category */

.cat-banner {
  border: solid 1px lightgrey;
  padding: 20px;
}

.cat-banner img {
  margin: 0 auto;
}

.my_row_class {
  paddint-top: 15px;
}
.my_row_class  .mx-auto {
  color: #000;
  font-size: 12px;
}
.my_row_class .mx-auto p {
  color: black;
  text-decoration: none;
}

.my_image {
  margin: 0 auto;
  width: 300px;
  height: 300px;
}

.my_title {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.my_image_padding {
  padding-top: 5px;
}

.my_bottom_margin {
  margin-bottom: 10px;
}

/* Card Classes */

.card {
  text-align: center;
  margin: 10px auto;
  box-shadow: 0px 20px 20px -12px rgb(147, 147, 147);
}

.card img {
  margin: 0 auto;
}

.card h4 {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
}

/* My Product classes  */

.my_prod_row_class {
  padding: 15px 0;
}

.my_prod_row_class .mx_auto p {
  color: #000;
  font-size: 12px;
}

.my_prod_row_class .mx_auto p a {
  color: #000;
  font-size: 12px;
  text-decoration: none;
}

.breadcrum {
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 400;
}

/* Product Details */

.image-detail {
  height: 500px;
  width: 400px;
}

.prod-desc {
  text-transform: uppercase;
  text-align: justify;
  margin-top: 100px;
}

.link-cart {
  color: rgb(0, 94, 255);
}

@media (max-width: 991px) {
  #showcase {
    padding-top: 4rem; }
    #showcase h1 {
      font-size: 40px; }
  .hide-md-down {
    display: none; } }

@media (max-width: 768px) {
  #showcase {
    padding-top: 3rem; }
    #showcase h1 {
      font-size: 40px; }
    #showcase p {
      display: none; }
  #top-bar {
    text-align: center; }
    #top-bar .social {
      text-align: center !important; } }

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px; }
  #showcase-inner h1 {
    font-size: 40px; } }
